@import  '../common/common_styling.scss';
.movieDetails {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display:flex;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.4); 
        z-index: 1;
    }
    h1 {
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    > div {
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        > div {
            width: 92%;
        }
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    .details {
        background-color: rgba(0,0,0, 0.8);
        padding: 15px;
        margin-top: -5px;
        box-sizing: border-box;
        h4, h3 {
            margin: 5px 0px 10px 0px;
            font-size: 15px;
        }
        > div {
            display: flex;
            flex-wrap: wrap;
            div {
                width: 40%;
                margin: 10px;
            }
        }

        .detailsHeader {
            div:first-child {
                width: 60%;
            }
            div:last-child {
                width: 30%;
            }
        }
        
        .header {
            color: $green;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            font-weight: lighter;
        }
        .genres {
            padding: 5px;
            border-radius: 5px;
            display: inline-block;
            margin: 5px;
            font-size: 12px;
            font-weight: normal;
            color: $black;
        }
        .addToWishList {
            @include buttons;
            background-color: transparent;
            border: 2px solid $green;
            color: $white;
            min-width: 100px;
            opacity: 1;
            margin: 10px 0;
            font-size: 15px;
            &:hover {
                opacity: 0.7;
            }
            &:disabled {
                opacity: 0.6;
                cursor: no-drop;
            }
        }
    }

    .mobile {
        display: inline-block;
    }

    .desktop {
        display: none;
    }

}

@media screen and (min-width: 892px) {
    .movieDetails {
        > div {
            flex-direction: row;
            max-width: 950px;
            justify-content: center;
            margin: auto;
            align-items: center;
            height: 100%;
        } 
        p {
            margin-top: 0;
        }
        .poster, .details {
            height: 630px;
        }
        .details {
            .header {
                font-size: 17px;
            }
        }

        .desktop {
            display: inline-block;
        }
    
        .mobile {
            display: none;
        }
    }
}