@import '../stylings/common_styling';

.slideshowWrapper {
    display: flex;
    align-items: center;
}
.moviesWrapper {
    width: 90%;
    overflow: hidden;
    margin: auto;
    position: relative;
    height: 300px;
    > div {
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.3s ease-in-out;
    }
    a {
        text-decoration: none;
        margin: 0 5px;
    }
}

.slideshowControls {
    margin: 5px;
    height: 100px;
    width: 50px;
    background-color: rgba(255,255,255, 0.3);
    color: $white;
    transition: 0.2s ease-in-out;
    border: none;
    &:hover {
        cursor: pointer;
        svg {
            font-size: 30px;
        }
    }
    &:disabled {
        opacity: 0;
        height: 0;
        width: 0;
    }
    &:focus {
        outline: none;
    }
    svg {
        font-size: 20px;
        transition: 0.3s ease-in-out;
    }
}