@import  '../common/stylings/common_styling.scss';
.signInWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    .logo {
        width: 80px;
    }
    h3 {
        margin-top: 30px;
    }
}
.loginButton {
    width: 200px;
    height: 50px;
    background-image: url('../assets/btn_google_light_normal.png');
    background-size: 200px 50px;
    &:hover {
        background-image: url('../assets/btn_google_light_pressed.png');
        cursor: pointer;
    }
}

.logoutButton {
    @include transparent_button;
}