@import '../common/stylings/common_styling.scss';

.NavBar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    position: fixed;
    background-color: #141414;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    height: 55px;
    .logo {
        width: 45px;
    }
    &.onScroll {
        background-color: rgba(20,20,20, 1);
    }
    li {
        padding: 10px;
        color: $white;
    }

    a {
        color: $white;
    }
    &.pullRight {
        right: 0;
        top: 0%;
        left: 60%;
        li {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    .changeTheme {
        @include small_buttons
    }
    .notification {
        padding: 5px 10px;
        font-size: 13px;
        background-color: $green;
        color: $black;
        border-radius: 50%;
        display: inline-block;
        margin-left: 5px;
    }
}

.search {
    svg {
        color: rgba(255, 255, 255, 0.5);
    }
    input {
        background-color: transparent;
        color: $white;
        border: none;
        padding: 10px;
        font-size: 15px;
        &:focus {
            outline: none;
        }
    }
    p {
        color: $white;
    }
    div {
        height: 200px;
        overflow: scroll;
    }
}