@import '../common/stylings/common_styling';

.moviesWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    box-sizing: border-box;
    justify-content: space-around;
    a {
        text-decoration: none;
    }
}
.loadMore {
    @include transparent_button;
    margin: 20px auto;
    font-size: 15px;
}